:root {
    --f-662-3e: rgba(246, 98, 62, 1);
    --x-454545: rgba(69, 69, 69, 1);
    --x-9d-9d-9d: rgba(130, 129, 129, 1);
    --ffffff: rgba(255, 255, 255, 1);
    --x-000000: rgba(0, 0, 0, 1);
    --fff-8f-6: rgba(255, 248, 246, 1);
    --36-bold-font-family: "Jost-Bold", Helvetica;
    --36-bold-font-weight: 700;
    --36-bold-font-size: 36px;
    --36-bold-letter-spacing: 0px;
    --36-bold-line-height: 42px;
    --36-bold-font-style: normal;
    --24-semibold-font-family: "Jost-SemiBold", Helvetica;
    --24-semibold-font-weight: 600;
    --24-semibold-font-size: 24px;
    --24-semibold-letter-spacing: 0px;
    --24-semibold-line-height: 32px;
    --24-semibold-font-style: normal;
    --18-medium-font-family: "WorkSans-Medium", Helvetica;
    --18-medium-font-weight: 500;
    --18-medium-font-size: 18px;
    --18-medium-letter-spacing: 0px;
    --18-medium-line-height: 24px;
    --18-medium-font-style: normal;
    --14-medium-font-family: "Jost-Medium", Helvetica;
    --14-medium-font-weight: 500;
    --14-medium-font-size: 14px;
    --14-medium-letter-spacing: 2px;
    --14-medium-line-height: 20px;
    --14-medium-font-style: normal;
    --14-reguler-font-family: "Jost-Regular", Helvetica;
    --14-reguler-font-weight: 400;
    --14-reguler-font-size: 14px;
    --14-reguler-letter-spacing: 0px;
    --14-reguler-line-height: 20px;
    --14-reguler-font-style: normal;
    --24-medium-font-family: "Jost-Medium", Helvetica;
    --24-medium-font-weight: 500;
    --24-medium-font-size: 24px;
    --24-medium-letter-spacing: 0px;
    --24-medium-line-height: 32px;
    --24-medium-font-style: normal;
    --16-medium-font-family: "Jost-Medium", Helvetica;
    --16-medium-font-weight: 500;
    --16-medium-font-size: 16px;
    --16-medium-letter-spacing: 0px;
    --16-medium-line-height: 25px;
    --16-medium-font-style: normal;
    --16-reguler-font-family: "Jost-Regular", Helvetica;
    --16-reguler-font-weight: 400;
    --16-reguler-font-size: 16px;
    --16-reguler-letter-spacing: 0px;
    --16-reguler-line-height: 20px;
    --16-reguler-font-style: normal;
    --18-reguler-font-family: "Jost-Regular", Helvetica;
    --18-reguler-font-weight: 400;
    --18-reguler-font-size: 18px;
    --18-reguler-letter-spacing: 0px;
    --18-reguler-line-height: 24px;
    --18-reguler-font-style: normal;
    --30-semibold-font-family: "Jost-SemiBold", Helvetica;
    --30-semibold-font-weight: 600;
    --30-semibold-font-size: 30px;
    --30-semibold-letter-spacing: 0px;
    --30-semibold-line-height: 32px;
    --30-semibold-font-style: normal;
    --36-medium-font-family: "Jost-Medium", Helvetica;
    --36-medium-font-weight: 500;
    --36-medium-font-size: 36px;
    --36-medium-letter-spacing: 0px;
    --36-medium-line-height: 32px;
    --36-medium-font-style: normal;
    --20-reguler-font-family: "Jost-Regular", Helvetica;
    --20-reguler-font-weight: 400;
    --20-reguler-font-size: 20px;
    --20-reguler-letter-spacing: 0px;
    --20-reguler-line-height: 30px;
    --20-reguler-font-style: normal;
}
